.banner-img {
  background: url(../img/rectangle.png) no-repeat;
  height: 353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-size: cover;
}
.banner-img__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 65.37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}
.banner-img__title::after {
  content: "";
  background: url(../img/couple.png);
  height: 363px;
  width: 1920px;
  background-repeat: no-repeat;
  background-position: bottom right 12%;
  margin-top: -10px;
}