.form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__row {
    display: flex;
    align-items: center;
    gap: 30px;

    @include tablets {
      flex-direction: column;
    }
  }

  &__input {
    flex: 1;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    outline-color: #f5170e;

    @include tablets {
      width: 100%;
    }

    &::placeholder {
      color: #666666;
    }
  }

  &__input-textarea {
    min-height: 233px;
    margin-bottom: 36px;
  }

  &__controls {
    display: flex;
    gap: 50px;

    @include tablets {
      flex-direction: column;
    }
  }

  &__controls-title {
    color: black;
    font-size: 18px;

    @include phones {
      text-align: center;
    }
  }

  &__checkes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @include phones {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  &__check {
    display: none;

    &:checked + .form__check-text {
      background: #b9eae4;
    }
  }

  &__check-text {
    border-radius: 35px;
    background: #e7e7e7;
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
    color: black;

    @include phones {
      text-align: center;
    }
  }
}
