.hamburger {
  display: none;

  @include phones {
    position: relative;
    display: block;
    background-color: white;
    width: 25px;
    height: 3px;
    border-radius: 5px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 25px;
      height: 3px;
      background-color: white;
      border-radius: 5px;
      top: 8px;
    }
  }
}
