.header {
    position: relative;
    width: 1141px;
    height: 123.36px;
    display: flex;
    align-items: center;

}

.logo {
    margin-right: 80px;
}

.logo__img {
    position: relative;
    width: 85px;
    height: 36px;
}

.menu {
    position: relative;
    width: 313px;
    height: 19px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 49px;
    margin-top: 7px;
}

.menu__link {
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu__link:hover {
    color: #F5170E
}

.contacts {
    margin-left: auto;
}

.contacts__phone {
    position: relative;
    width: 191px;
    height: 35px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    display: flex;
    align-items: center;
    margin-top: 56px;
}

.contacts__phone:hover {
    color: #F5170E
}

.dropdown__title {
    position: relative;
    width: 97px;
    height: 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    text-decoration: none;
    margin-bottom: 46px;
    margin-left: 92px;
}

/*.dropdown__title.dropdown__title--active:hover {
    display: block;
    transition: 1s;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 14px 9px;
    z-index: 1;
    color: black;
    opacity: 80%;
    background: url(http://rudanastasia.github.io/air/img/drop.png) no-repeat;
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    font-family: 'Open Sans';
    font-style: normal;
    cursor: pointer;
    visibility: visible;
    transition-delay: 0s, 0s;
}*/

.dropdown__time {
    display: block;
}

.dropdown__time.dropdown__time--active:hover .schedule {
    z-index: 1;
    display: block;
    transition: 1s;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 14px 9px;
    color: black;
    opacity: 80%;
    background: url(http://rudanastasia.github.io/air/img/drop.png) no-repeat;
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    font-family: 'Open Sans';
    font-style: normal;
    cursor: pointer;
    visibility: visible;
    transition-delay: 0s, 0s;
}

.schedule {
    position: absolute;
    z-index: -1;
    display: none;
}
