.main-page-wrapper {
    background: url(http://rudanastasia.github.io/air/img/hero.png), url(http://rudanastasia.github.io/air/img/about.png);
    min-height: 2768px;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom 150px center;
    background-color: #001821;
}

.hero {
    position: relative;
    left: 0px;
    top: 0px;
}

.hero__title {
    width: 511px;
    height: 197px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    display: flex;
    align-items: flex-end;
    margin-top: 88px;
    margin-bottom: 0;
}

.hero__subtitle {
    width: 196px;
    height: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 29px;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    /*position: absolute;*/
    width: 166px;
    height: 56px;
    left: 392px;
    top: 511px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 40px;
    margin-bottom: 247px;
}

.btn.btn--active:hover {
    background-color: white;
    border-color: rebeccapurple;
    color: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 35px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.tours {
    padding-bottom: 129px;
}

.tour__title {
    margin-bottom: 41px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    display: inline-block;
}

.flame {
    width: 21px;
    height: 28px;
    display: inline-block;
    margin-left: 14px;
}

.offers__item {
    min-height: 450px;
    background: #FFFFFF;
    border-radius: 4px;
    display: inline-block;
    margin-right: 25px;
    width: 360px;
    margin-top: 8px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__img {
    min-height: 162px;
    margin-bottom: 28px;
}

.offers__title {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 13px;
    margin-bottom: 29px;
    padding-left: 21px;
}

.offers__date {
    display: flex;
}

.offers__date__cell {
    padding-right: 24px;
    padding-left: 2px;
    display: flex;
}

.offers__days {
    padding-left: 13px;
    width: 99px;
    height: 22px;
    left: 453px;
    top: 1108px;
    color: black;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.offers__breakfast {
    padding-left: 13px;
    width: 73px;
    height: 21px;
    left: 616px;
    top: 1108px;
    color: black;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.breakfast__img {
    width: 36px;
    height: 26px;
    left: 571px;
    top: 1106px;
}

.days__img {
    width: 26px;
    height: 26px;
    left: 417px;
    top: 1106px;
    margin-left: 24px;
}

.offers__description {
    padding: 26px 19px;
    color: #303030;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.tours__buttn {
    background: #F5170E;
    border-radius: 35px;
    width: 135px;
    height: 52px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 23px 28px;
    margin: -2px 23px;
}

.tours__buttn.tours__buttn--active:hover {
    background-color: white;
    border-color: rebeccapurple;
    color: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 35px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.news {
    /*position: absolute;*/
    left: 1px;
    top: 7px;
    margin-bottom: 136px;
}

.news__list {
    display: flex;
    width: 1220px;
}

.news__item {
    width: 555px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 26px;
    overflow: hidden;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 39px;
    height: 400px;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    padding-left: 25px;
    /*position: absolute;*/
    left: 0;
    right: 0;
    bottom: 214px;
    padding: 25px 30px;
    min-height: 140px;
    margin-top: -164px;
}

.news__title {
    width: 325px;
    height: 49px;
    left: 388px;
    top: 1444px;
    /*position: absolute;*/
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 37px;
}

.news__img {
    width: 557px;
    height: 394px;
    left: 389px;
    top: 1551px;
    border-radius: 5px;
}

.news__date {
    font-size: 14px;
    top: 18px;
    /*position: absolute;*/
    left: 28px;
    text-transform: lowercase;
}

.news__subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 1px;
    margin-top: 12px;
    /*position: absolute;*/
    top: 38px;
}

.news__description {
    width: 546px;
    height: 21px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: flex-start;
    /*position: absolute;*/
    top: 91px;
}

.about {
    vertical-align: top;
    /*position: absolute;*/
    height: 552px;
    left: 389px;
    top: 2175px;
}

.pager {
    text-align: center;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pager--service {
    color: black;
    width: 375px;
    height: 53px;
    left: 786px;
    top: 1288px;
}

.pager--service .pager__item--active .pager__link {
    background-color: #F5170E;
    color: white;
}

.pager--service .pager__item:hover {
    color: white;
}

.pager__diplay, .pager__list {
    display: inline-block;
    vertical-align: middle;
}

.pager__display {
    margin-right: 26px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 38px;
    margin-right: 26px;
    padding-bottom: 7px;
}

.pager__list {
    width: 250px;
    margin-right: 19px;
}

.pager__item {
    display: inline-block;
    vertical-align: middle;
}

.pager__item:hover {
    background-color: #F5170E;
    border-radius: 50%;
}

.pager__item--active .pager__link {
    background-color: white;
    color: #F5170E;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.about__content:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 488px;
    height: 502px;
    background: url(http://rudanastasia.github.io/air/img/gates.png) center center / cover no-repeat;
}

.about__description {
    background: url(http://rudanastasia.github.io/air/img/mountains.png) center center / cover no-repeat;
    width: 781px;
    height: 453px;
    padding: 73px 77px;
    display: inline-block;
    margin-left: -136px;
    margin-top: 95px;
}

.about__title {
    width: 103px;
    height: 49px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: flex-end;
    top: 163px;
    left: 437px;
    color: black;
    margin-bottom: 36px;
}

.about__description-text {
    width: 502px;
    height: 135px;
    margin-bottom: 42px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
}

.about__description-text p {
    margin-bottom: 20px;
    color: black;
}

.about__description-text p:last-child {
    margin-bottom: 0;
}

.bttn {
    width: 166px;
    height: 57px;
    left: 824px;
    top: 2606px;
    background: #F5170E;
    border-radius: 35px;
    left: 864px;
    top: 2624px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px 37px;
}
 
.bttn.bttn--active:hover {
    background-color: white;
    border-color: rebeccapurple;
    color: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 35px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}
