@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  position: relative;
  background: #001821;
  color: #ffffff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #001821;
  background: url(../img/hero.png) top center no-repeat, url(../img/about.png) bottom 150px center no-repeat;
}

.maincontent {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  position: relative;
  width: 95%;
  margin: 0 auto;
  max-width: 1140px;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

img {
  display: block;
  width: 100%;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/bg.png) center bottom/cover no-repeat;
}

.central {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.central--asia {
  opacity: 0;
  -webkit-animation: zoom 3s;
          animation: zoom 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.central__logo {
  margin-bottom: 0px;
}
.central__description {
  margin-bottom: 62px;
  font-size: 18px;
  line-height: 24.51px;
}

.btnn {
  background: #f5170e;
  border-radius: 35px;
  width: 166px;
  height: 56px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 50px;
  margin-bottom: 247px;
}
.btnn--active:hover {
  background-color: white;
  border-color: rebeccapurple;
  color: #f5170e;
  border: 1px solid #f5170e;
  border-radius: 35px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  20% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  40% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  20% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  40% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    gap: 20px;
  }
}

.logo {
  margin-right: 80px;
}
@media screen and (max-width: 768px) {
  .logo {
    margin-right: 0;
  }
}
.logo__img {
  position: relative;
  width: 85px;
  height: 36px;
}

.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px 49px;
}
.menu__item {
  margin-top: 7px;
}
.menu__link {
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.menu__link:hover {
  color: #f5170e;
}

.contacts {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
}
.contacts__phone {
  text-decoration: none;
  font-style: normal;
  font-size: 26px;
  line-height: 35px;
  white-space: nowrap;
}
.contacts__phone:hover {
  color: #f5170e;
}

.dropdown__title {
  font-style: normal;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin-bottom: 46px;
  margin-left: 92px;
}
.dropdown__title--active:hover {
  text-decoration: underline;
  cursor: pointer;
}
.dropdown__time {
  display: block;
}
.dropdown__time--active:hover .schedule {
  z-index: 1;
  display: block;
  position: absolute;
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
  min-width: 160px;
  padding: 25px 16px;
  color: rgb(30, 31, 32);
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
  margin-top: -48px;
  margin-left: 28px;
}
.dropdown__time--active:hover .schedule > :first-child {
  font-weight: 600;
}

.schedule {
  display: none;
}

.hero {
  min-height: 700px;
}
.hero__container {
  padding: 30px 0 50px 0;
}
.hero__content {
  margin-top: 88px;
}
.hero__title {
  max-width: 511px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 50px;
    line-height: 70px;
  }
}
.hero__subtitle {
  font-size: 18px;
  margin: 30px 0 50px;
}
.hero__inner {
  min-height: 412px;
  background: url(../img/headline-services.png) center top no-repeat;
  position: relative;
}
.hero__container-inner {
  padding: 30px 0 0;
  height: 412px;
}
.hero__content-inner {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .hero__content-inner {
    margin-top: 100px;
  }
}

.btn {
  background: #f5170e;
  border-radius: 35px;
  width: 166px;
  height: 56px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 40px;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: #f5170e;
  border: 1px solid #f5170e;
}
.btn__reset {
  background: #2b2b2b;
  color: white;
}
@media screen and (max-width: 480px) {
  .btn__reset {
    width: 100%;
  }
}
.btn__submit {
  background: #f5170e;
  border-color: #f5170e;
  color: white;
}
@media screen and (max-width: 480px) {
  .btn__submit {
    width: 100%;
  }
}

.form__bttns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .form__bttns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .form__bttns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section {
  padding: 40px 0;
}
@media screen and (max-width: 480px) {
  .section {
    padding: 30px 0;
  }
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 45px;
}
.section__title--dark {
  color: rgb(26, 27, 30);
}
.section--light {
  background: white;
  color: #303030;
}
.section--light-grey {
  background: rgb(244, 245, 245);
}

.breadcrumbs {
  position: absolute;
  bottom: 0;
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
  gap: 5px;
}
.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(154, 154, 154);
  font-size: 14px;
}
.breadcrumbs__item--active {
  font-weight: 700;
  text-decoration: underline;
}
.breadcrumbs__item::after {
  content: "/";
  margin-left: 5px;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__link {
  text-decoration: none;
}
.breadcrumbs__link:hover {
  text-decoration: underline;
}

.tours__title {
  position: relative;
}
.tours__title::after {
  content: url(../img/flame.png);
  position: absolute;
  margin-left: 10px;
}

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .offers__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.offers__item {
  background: #ffffff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  min-width: 0;
}
.offers__image {
  margin-bottom: 28px;
}
.offers__img {
  height: auto;
  max-width: 100%;
}
.offers__content {
  padding: 25px;
  min-width: 0;
}
@media screen and (max-width: 768px) {
  .offers__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.offers__title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 29px;
}
.offers__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.offers__date-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}
.offers__date-item img {
  width: 26px;
  height: 26px;
}
.offers__date-text {
  color: black;
}
.offers__description {
  padding: 26px 0;
  color: #303030;
  font-size: 14px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .offers__description {
    text-align: center;
  }
}
.offers__btn {
  margin-bottom: 20px;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  overflow: hidden;
}
.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 39px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 13px);
          flex: 0 0 calc(50% - 13px);
}
@media screen and (max-width: 768px) {
  .news__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.news__content {
  padding: 25px 30px;
  position: absolute;
  bottom: 0;
}
.news__img {
  min-height: 394px;
}
.news__date {
  font-size: 14px;
  text-transform: lowercase;
}
.news__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1px;
  margin-top: 12px;
}

.pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 25px;
}
@media screen and (max-width: 480px) {
  .pager {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.pager--dark {
  color: black;
}
.pager--dark .pager__item:hover {
  color: white;
}
.pager--dark .pager__item--active .pager__link {
  background-color: #f5170e;
  color: white;
}
.pager__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
@media screen and (max-width: 480px) {
  .pager__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.pager__item:hover {
  background-color: #f5170e;
  border-radius: 50%;
}
.pager__item--active .pager__link {
  background-color: white;
  color: #f5170e;
}
.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.about__content {
  position: relative;
}
.about__content::before {
  content: "";
  display: block;
  width: 488px;
  height: 502px;
  background: url(../img/gates.png) center center/cover no-repeat;
}
@media screen and (max-width: 768px) {
  .about__content::before {
    display: none;
  }
}
.about__description {
  background: url(../img/mountains.png) center center/cover no-repeat;
  position: absolute;
  max-width: 781px;
  width: 100%;
  padding: 73px 77px;
  right: 0;
  bottom: -50px;
}
@media screen and (max-width: 768px) {
  .about__description {
    position: static;
  }
}
@media screen and (max-width: 480px) {
  .about__description {
    padding: 20px;
  }
}
.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: black;
  margin-bottom: 36px;
}
.about__description-text {
  max-width: 502px;
  width: 100%;
  margin-bottom: 42px;
  line-height: 27px;
}
.about__description-text p {
  color: black;
}
.about__btn {
  margin-bottom: 20px;
}

.services {
  margin-bottom: 50px;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.services__image {
  border-radius: 5px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .services__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}
@media screen and (max-width: 768px) {
  .services__title {
    text-align: center;
  }
}
.services__description {
  line-height: 27px;
}
@media screen and (max-width: 768px) {
  .services__description {
    text-align: center;
  }
}
.services__button {
  color: white;
  margin-top: 20px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 46px;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .partners__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.partners__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 138px) / 4);
          flex: 0 0 calc((100% - 138px) / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.partners__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners__img {
  width: 226px;
  max-width: 100%;
}

.reviews__list {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .reviews__list {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}
.reviews__item {
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.review {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 30px;
  background: #f4f5f5;
  gap: 30px;
}
.review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (max-width: 480px) {
  .review__header {
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.review__userdata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .review__userdata {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.review__user {
  font-size: 24px;
  font-weight: bold;
  color: #4d76a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review__user::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/vkblue.png) center/contain no-repeat;
  margin-left: 10px;
}
@media screen and (max-width: 480px) {
  .review__user {
    font-size: 16px;
  }
}
.review__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 15px;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .review__tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.review__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 23px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .review__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .review__title {
    font-size: 16px;
  }
}
.review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.review__content-text {
  margin-bottom: 25px;
  line-height: 27px;
}
.review__date {
  font-size: 14px;
  font-weight: bold;
}

.avatar {
  max-width: 140px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.tag {
  font-size: 13px;
  color: #333;
  padding: 8px 16px;
  border-radius: 35px;
  background: #b9eae4;
  white-space: nowrap;
}

.banner-img {
  background: url(../img/rectangle.png) center/cover no-repeat;
  min-height: 353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner-img::after {
  content: "";
  background: url(../img/couple.png) bottom right 30%/contain no-repeat;
  min-height: 363px;
  min-width: 100vw;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .banner-img::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/couple.png) bottom right 30%/contain no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/couple.png) bottom right 30%/contain no-repeat;
  }
}
.banner-img__content {
  position: relative;
  z-index: 2;
  width: 100%;
}
.banner-img__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  max-width: 600px;
  font-size: 48px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .banner-img__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 480px) {
  .banner-img__title {
    font-size: 28px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 4px;
  border: none;
  background: #fff;
  padding: 22px 30px;
  font-size: 18px;
  outline-color: #f5170e;
}
@media screen and (max-width: 768px) {
  .form__input {
    width: 100%;
  }
}
.form__input::-webkit-input-placeholder {
  color: #666666;
}
.form__input::-moz-placeholder {
  color: #666666;
}
.form__input:-ms-input-placeholder {
  color: #666666;
}
.form__input::-ms-input-placeholder {
  color: #666666;
}
.form__input::placeholder {
  color: #666666;
}
.form__input-textarea {
  min-height: 233px;
  margin-bottom: 36px;
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .form__controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form__controls-title {
  color: black;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .form__controls-title {
    text-align: center;
  }
}
.form__checkes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .form__checkes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.form__check {
  display: none;
}
.form__check:checked + .form__check-text {
  background: #b9eae4;
}
.form__check-text {
  border-radius: 35px;
  background: #e7e7e7;
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
  color: black;
}
@media screen and (max-width: 480px) {
  .form__check-text {
    text-align: center;
  }
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__container {
  border-top: 1px solid #233a42;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .footer__container {
    margin-top: 0;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}
@media screen and (max-width: 768px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.footer__logo {
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    margin-right: 0;
  }
}
.footer__menu {
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .footer__menu {
    margin-right: 0;
  }
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .footer__contacts {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__container-inner {
  margin-top: 0;
}

.socials {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .socials {
    margin-left: 0;
  }
}
.socials__link {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  text-decoration: none;
}
.socials__link--telegram {
  background-image: url("../img/telegram.png");
}
.socials__link--telegram:hover {
  background-image: url("../img/telegram-light.png");
}
.socials__link--vk {
  background-image: url("../img/vk.png");
}
.socials__link--vk:hover {
  background-image: url("../img/vk-light.png");
}
.socials__link--facebook {
  background-image: url("../img/facebook.png");
}
.socials__link--facebook:hover {
  background-image: url("../img/facebook-light.png");
}
.socials__link--instagram {
  background-image: url("../img/instagram.png");
}
.socials__link--instagram:hover {
  background-image: url("../img/instagram-light.png");
}

.dropdown__footer {
  font-style: normal;
  font-size: 11px;
  color: #9a9a9a;
  margin-left: auto;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .dropdown__footer {
    margin-left: 0;
  }
}

.inner__footer {
  margin-top: auto;
}