.pager {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;

  @include phones {
    flex-direction: column;
  }

  &--dark {
    color: black;

    .pager__item {
      &:hover {
        color: white;
      }

      &--active {
        .pager__link {
          background-color: #f5170e;
          color: white;
        }
      }
    }
  }

  &__list {
    display: flex;
    gap: 5px;

    @include phones {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    &:hover {
      background-color: #f5170e;
      border-radius: 50%;
    }

    &--active {
      .pager__link {
        background-color: white;
        color: #f5170e;
      }
    }
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    color: inherit;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
  }
}
