.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 70px;
}

.reviews__item {
    margin-bottom: 20px;

}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #F4F5F5;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #4d76a1;
    margin-left: 19px;
    margin-top: 7px;
}

.review__user:after {
    content: url(http://rudanastasia.github.io/air/img/vkblue.png);
    height: 29px;
    margin-left: 9px;
}

.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.review__tag {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #333;
    padding: 8px 16px;
    border-radius: 35px;
    background: #B9EAE4;
    margin-left: 20px;
    height: 20px;
    margin-top: 11px;
    display: inline-block;
}

.review__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 23px;
}

.review__content-text {
    margin-bottom: 48px;
    line-height: 27px;
    font-size: 16px;
}

.review__date {
    font-size: 14px;
    font-weight: bold;
}

.separator {
    background: url(http://rudanastasia.github.io/air/img/rectangle.png) no-repeat;
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-size: cover;
}

.separator__content {
    padding: 33px 550px 20px 0px;
}

.separator::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    background: url(http://rudanastasia.github.io/air/img/couple.png);
    height: 363px;
    width: 1920px;
    background-repeat: no-repeat;
    background-position: bottom right 30%;
    margin-top: -153px;
}

/*.separator::after {
    background: url(http://rudanastasia.github.io/air/img/couple.png);
    content: "";
    height: 341px;
    width: 487px;
    display: inline-block;
    vertical-align: top;
}*/

.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 65.37px;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
    color: black;
    margin-bottom: 61px;
}    

.inner-section--bg--grey {
    background: #F4F5F5;
    padding: 71px 0;
    height: 799px;
}
.form__row {
    display: flex;
    margin-top: 27px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 4px;
    border: none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    outline-color: #F5170E
}   

.form__input::placeholder {
    color: #666666;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input--textarea {
    height: 233px;
    margin-bottom: 36px;
}

.form__input--textarea::placeholder {
    color: #666666;
}

.form__controls {
    display: flex;
    margin-bottom: 35px;
}

.form__controls-title {
    color: black;
    font-size: 18px;
    line-height: 24.51px;
}

.controls {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 0px 0 0 413px;
    margin-top: -47px;
    margin-bottom: 29px;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 10px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;

}

.controls__checkbox {
    display: none;
}

.form__btns {
    display: flex;
    justify-content: flex-end;
}

.btn-color--black {
    background: #2B2B2B;

}

.btn-color--black:hover {
    background: #F5170E;
}

.form__btn {
    margin-right: 20px;
}

.form__btn:last-child {
    margin-right: 0;
}

.btn__reset {
    background: #2B2B2B;
    color: white;
    border-radius: 35px;
    width: 166px;
    height: 56px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 40px;
    margin-bottom: 247px;
    margin-right: 20px;
}

.btn__reset.btn__reset--active:hover {
    background-color: white;
    border-color: rebeccapurple;
    color: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 35px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
} 

.btn__submit {
    background: #F5170E;
    border-radius: 35px;
    border-color: #F5170E;
    color: white;
    width: 166px;
    height: 56px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 40px;
    margin-bottom: 247px;
}

.btn__submit.btn__submit--active:hover {
    background-color: white;
    border-color: rebeccapurple;
    color: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 35px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}
